---
layout: default
single: true
---

<div>
<article class="hentry" role="article">
  {% include article.html %}
  <footer>
    <p class="meta">
      {% include post/author.html %}
      {% include post/date.html %}{% if updated %}{{ updated }}{% else %}{{ time }}{% endif %}
      {% include post/categories.html %}
    </p>
    {% unless page.sharing == false %}
      {% include post/sharing.html %}
    {% endunless %}
    <p class="meta">
      {% if page.categories contains "blog" %}
        {% if page.blog_prev.url %}
          <a class="basic-alignment left" href="{{page.blog_prev.url}}" title="Previous Post: {{page.blog_prev.title}}">&laquo; {{page.blog_prev.title}}</a>
        {% endif %}
        {% if page.blog_next.url %}
          <a class="basic-alignment right" href="{{page.blog_next.url}}" title="Next Post: {{page.blog_next.title}}">{{page.blog_next.title}} &raquo;</a>
        {% endif %}
      {% endif %}
    </p>
  </footer>
</article>
{% if site.disqus_short_name and page.comments == true %}
  <section>
    <h1>Comments</h1>
    <div id="disqus_thread" aria-live="polite">{% include post/disqus_thread.html %}</div>
  </section>
{% endif %}
</div>
{% unless page.sidebar == false %}
<aside class="sidebar">
  {% if site.post_asides.size %}
    {% include_array post_asides %}
  {% else %}
    {% include_array default_asides %}
  {% endif %}
</aside>
{% endunless %}
