<h2 class="title">Where I've Been</h2>
<hr>
<p>
  Check out <a href="http://linkedin.com/pub/ariel-caplan/35/224/ab8">my LinkedIn profile</a> to see what I've been up to professionally.
</p>
<p>
  Or look at <a href="http://github.com/amcaplan?tab=repositories">my GitHub profile</a> to see what I've been <strike>cooking</strike> coding up lately.
</p>
<p>
  For some cool stuff from my time at <a href="http://flatironschool.com" target="_blank">the Flatiron School</a>, check <a href="http://flatiron-showcase.herokuapp.com/students/1">here</a>.
</p>
<p>
  In previous sections of my life, I studied at <a href="http://yu.edu" target="_blank">Yeshiva University</a>, <a href="http://shaalvim.org/yeshiva" target="_blank">Yeshivat Shaalvim</a> in Israel, <a href="http://tabc.org" target="_blank">TABC</a>, and <a href="http://rpry.org" target="_blank">RPRY</a>. I'm counting back as long as I was making websites, which is around 10 years old.
</p>